@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

:root {
  --primary-color: #5429ff;
  --secondary-color: #344054;
  --bg-color: #cbcce8;
  --accent-color: #667085;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: var(--accent-color);
}

a {
  font-weight: 500;
  text-decoration: none;
}

.main {
  box-sizing: border-box;
  padding: 90px 25px 10px 25px;
  min-width: 375px;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 55px;
}

.logo__text {
  margin-top: 10px;
  color: #000;
  font-weight: 500;
  letter-spacing: 0.16px;
}

.header {
  margin-bottom: 55px;
}

.header__title {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--secondary-color);
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.32px;
  text-transform: capitalize;
}

.header__text {
  margin-top: 0;
  margin-bottom: 0;
}

.form__wrapper {
  display: flex;
  flex-direction: column;
}

.form__wrapper:not(:last-child) {
  margin-bottom: 20px;
}

.form__wrapper--horizontal {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.form__wrapper--center {
  justify-content: center;
}

.sign-up {
  margin-left: 5px;
}

.form-label {
  margin-bottom: 10px;
  color: var(--secondary-color);
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.form-input {
  box-sizing: border-box;
  padding: 10px 14px;
  color: var(--accent-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  border-radius: 8px;
  border: 1px solid var(--accent-color);
}

.checkbox__wrapper {
  display: flex;
  align-items: center;
}

.form-label--remember {
  margin-bottom: 0;
  margin-left: 10px;
}

.btn {
  box-sizing: border-box;
  display: flex;
  padding: 12px 15px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  cursor: pointer;
}

.btn--primary {
  margin-bottom: 15px;
  color: #fff;
  border: 1px solid var(--primary-color);
  background: var(--primary-color);
}

.btn--secondary {
  color: var(--secondary-color);
  border: 1px solid var(--accent-color);
}

.picture {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.picture__desktop {
  display: none;
}

@media screen and (min-width: 760px) {
  .main {
    display: flex;
    justify-content: space-between;
    padding: 30px 30px 30px 40px;
    min-width: 100%;
  }

  .access {
    width: 35%;
  }

  .logo {
    flex-direction: row;
    margin-bottom: 230px;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.16px;
  }

  .logo__text {
    margin-top: 0;
    margin-left: 10px;
  }

  .header__title {
    font-size: 40px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.4px;
  }

  .header__text {
    font-size: 16px;
  }

  .picture {
    width: 50%;
  }

  .picture__mobile {
    display: none;
  }

  .picture__desktop {
    display: block;
  }
}
